header{
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin: 0 auto;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    border-bottom: 1px solid gray;
    background: black;
    z-index: 99;
}

.logo-block {
    width: 100px;
}

.logo-block > img {
    width: 100%;
}

.btns-wrapper {
    width: 700px;
    display: flex;
    overflow-x: scroll;
}
.search {
    position: relative;
}
.serach-block {
    position: absolute;
    right: 1px;
    width: 300px;
    
    background: rgba(18, 17, 17, 0.9);
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
}

.search > input {
    min-width: 100px;
    padding: 8px;
    border: none;
    margin-right: 10px;
    background-color: aqua;
    border-radius: 20px;
}